@font-face {
    font-family: Poppins;
    src: url(/View/assets/fonts/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(/View/assets/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(/View/assets/fonts/Rubik-Regular.ttf);
}

:root{
    --my-color-1: #32B6A1;
    --my-color-2: #8BC43F;
    --my-color-3: #087866;
    --my-color-4: #065447;
    --my-color-5: #F5F5F5;
}

body{
    font-family: 'Roboto',sans-serif;
    /* background-color: gray; */
}

a{
    text-decoration: none;
}

*{
    padding: 0;
    margin: 0;
    /* background-color: #F5F5F5; */
}

/* top bar */

#top-bar{
    background-color: #fff;
    /* position: fixed; */
    /* top: 0; */
}

#top-bar .brand{
    margin: 0 10px;
    position: relative;
    width: 40%;
    display: inline-block;
}

#top-bar .brand img{
    width: 50px;
}

#top-bar .brand h1{
    position: absolute;
    display: inline-block;
    font-family: 'Poppins';
    color: var(--my-color-3); 
    font-weight: 900;
    line-height: 60px;
    margin-left: 10px;
}

#top-bar .infor{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    height: 54px;
    
}

#top-bar .contact i,
#top-bar .address i{
    display: inline-block;
    margin-right: 8px;
    line-height: 26px;
    color: var(--my-color-2);
}

#top-bar .infor h6{
    display: inline-block;
    color: rgb(105, 103, 103);
}

#top-bar .infor .contact{
    width: 33%;
}

#top-bar .infor .address{
    width: 33%;
}

.infor .login{
    display: inline-block;
    border-radius: 30px;
    padding: 0 5px 0 5px;
    font-size: 12px;
    font-weight: 900;
    cursor: pointer;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    
}

.infor .login a{
    padding: 0 5px 0 5px;
    color: var(--my-color-4)
    /* font-weight: 900; */
}

.infor .login i{
    display: inline-block;
    margin-right: 8px;
    line-height: 26px;
    color: var(--my-color-2);
}

.infor .login:hover,
.infor .login:hover a,
.infor .login:hover .fa-solid {
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); */
    background-color: var(--my-color-2);
    color: #fff;
    border: 0px;
}


/* header */

#header{
    height: 46px;
    background-color: var(--my-color-1);
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 14px;
    /* overflow: hidden; */
    /* position: fixed; */
    /* background: transparent; */
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;

}

#nav > li{
    display: inline-block;
}

#nav > li{
    position: relative;
    border-left: rgb(29, 29, 29,0.1) 1px solid ;
}

#nav > li > a{
    color:#fff;
    font-weight: 500;
}

#nav li a{
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
    /*  */
    position: relative;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a {
    color: var(--my-color-4);
    font-weight: 900;
}

.subnav li {
    margin: 0 10px 0 10px;
    border-top: rgb(29, 29, 29,0.1) 1px solid;
}

.subnav li a i{
    display: none;
}

.subnav > li:hover > a i{
    display: inline;
    color: var(--my-color-2);
    
}

.subnav > li:hover > a {
    font-weight: 600;   
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    font-size: 13px;
}

#nav .subnav a{
    color: var(--my-color-4);
    padding: 0 12px;
    line-height: 38px;
}

.fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


/* silder */
.slider{
    min-height: 900px;
}



