:root{
    --my-color-1: #32B6A1;
    --my-color-2: #8BC43F;
    --my-color-3: #087866;
    --my-color-4: #065447;
    --my-color-5: #F5F5F5;
    --my-color-6: #0A2722;
}

body {
    font-family: 'Roboto',sans-serif;
}

#main{
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none; 
    color: inherit; 
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input:focus,
select:focus-visible {
    outline: 0;
}

button {
    background-color: unset;
    color: unset;
    cursor: pointer;
}

#wrapper {
    width: 100%;
    display: block;
    text-align: center;
}

#wrapper h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    color: var(--my-color-3);
    padding-bottom: 10px;
    text-transform: uppercase;
}

#wrapper hr{
    background-color: var(--my-color-4);
    color: var(--my-color-4);
    margin: 10px 30% 30px 30%;   
}

#adoption {
    position: relative;
    width: 100%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    position: relative;
    width: 49%;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.left img {
    height: 350px;
    /* width: 40%; */
    border-radius: 6px;
    object-fit: cover;
}

.left:hover .overlay {
    opacity: 1;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right form {
    width: 60%;
    padding: 2%;
    border-radius: 6px;
}

.right label {
    font-size: 15px;
}

.right form select,
.right form input{
    width: 100%;
    padding: 18px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.right form select {
    padding: 16px;
}

.right form button {
    width: 49%;
    padding: 14px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    background-color: #32508E;
    color: var(--my-color-5);
    text-transform: uppercase;
}

.right form button[type="button"] {
    background-color: #DD4B39;
}

.right form input::placeholder {
    font-family: 'Roboto', sans-serif;
}

.right form button:hover {
    background-color: var(--my-color-1);
}

.right form span {
    border: none;
    padding: 10px;
}

@media (max-width: 1024px) {
    .right form {
        width: 80%;
    }

    .left  {
        width: 40%;
    }
}

@media (max-width: 768px) {
    #adoption {
        position: relative;
        width: 100%;
        padding: 6px;
        display: block;
    }

    .left, .right {
        width: 100%;
    }

    .right form {
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
