:root{
    --my-color-1: #32B6A1;
    --my-color-2: #8BC43F;
    --my-color-3: #087866;
    --my-color-4: #065447;
    --my-color-5: #F5F5F5;
    --my-color-6: #0A2722;
    --green: #78c350;
    --red: #DC3545;
    --yellow: #FFC107;
    --purple: #8892d6;
    --green: #78c350;
    --blue: #348cd4;
}
* {
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto',sans-serif;
    background-color: white;
}

button {
    border: 0;
    padding: 8px 10px ;
    border-radius: 5px;
    font-family: 'Roboto',sans-serif;
    background-color: white;
    transition: opacity 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
    border-color: 2px solid var(--my-color-1);
}

.container{
    font-size: 14px;
    min-width: 1024px;
    /* position: relative; */
}

.container .header-body{
    padding: 12px;
}

.container .header-body h1 {
    color: var(--my-color-4);
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.operation {
    position: relative;
    padding-bottom: 40px;
}


/* Tìm kiếm */

.search {
    margin-left: 3%;
}

input {
    margin-top: 10px;
    padding: 10px;
    width: 20%;
    border-radius: 4px;
    border: solid 1px var(--my-color-1);
}

.excel:hover {
    background-color: #3e8e41;
}

.excel {
    background-color: var(--my-color-2);
    color: var(--my-color-5);
    font-size: 14px;
} 

/* Bảng */

.table {
    margin: 32px 8px;
}

table {
    border: 1px solid var(--my-color-1);
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    font-size: 14px;
    
}

th, td {
    text-align: center;
    padding: 16px;
}

table td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    padding: 18px;
    background-color: white;
    color: var(--my-color-6);
    font-weight: 600;
}

table td img {
    width: 46px;
    height: 46px;
    margin-left: 20px;
    object-fit: cover; 
    border-radius: 50px; 
}

tr:nth-child(odd) {
    background-color: var(--my-color-5);
}

.table .edit {
    background-color: var(--yellow);
    margin-bottom: 2px;
}

table .edit:hover { 
    background-color: #e4ac04; 
}

table .delete {
    background-color: var(--red);
    color: var(--my-color-5);
    margin-bottom: 2px;
}

table .delete:hover {
    background-color: #c22d3c;
}

#pagination {
    margin-top: 10px;
    right: 10px;
    display: block;
    text-align: center;
}

#pagination button {
    background-color: var(--my-color-2);
    color: var(--my-color-5);
    font-weight: 500;  
    margin-bottom: 20px;
}

#pagination button:hover {
    background-color: #3e8e41;
}