:root{
    --my-color-1: #32B6A1;
    --my-color-2: #8BC43F;
    --my-color-3: #087866;
    --my-color-4: #065447;
    --my-color-5: #F5F5F5;
    --my-color-6: #0A2722;
}

@media (min-width:1023px) {
    #header .bar-button {
        display: none;
    }

    #nav li:hover .subnav{
        display: block;
    }

    #nav{
        display: inline-block;
    }
}

@media (min-width:740px) and (max-width:1023px) {

    #top-bar .brand{
        width: 30%;
    }
    #top-bar .infor{
        width: 64%;
    }

    #top-bar .address i {
        padding-left: 10px;
    }

    .infor .login{
        right: 10px;
    }

    #nav {
        background-color: var(--my-color-1);
        width: 100%;
        display: none;
        position: fixed;
        z-index: 10;
    }

    #nav > li{
        display: block;
        display: block;
        border-bottom: rgb(29, 29, 29,0.1) 1px solid ;
        color: var(--my-color-6);
    }

    #nav li a {
        padding: 0 24px;
        display: block;
        position: relative;
    }

    #nav .fa-caret-down {
        display: contents;
    }

    .fa-caret-down:before {
        position: absolute;
        right: 24px;
        top: 16px;
    }

    #nav .subnav {
        position: relative;
        background-color: #0ca087;
    }

    #nav .subnav a{
        color: var(--my-color-5);
    }
    
} 

@media (max-width:740px){
    #top-bar .brand {
        width: 50%;
        font-size: 12px;
    }

    #top-bar .infor {
        width: 40%;
    }

    #top-bar .contact,
    #top-bar .address {
        display: none;
    }

    #nav {
        background-color: var(--my-color-1);
        width: 100%;
        display: none;
        position: fixed;
        z-index: 10;
    }

    #nav > li{
        display: block;
        display: block;
        border-bottom: rgb(29, 29, 29,0.1) 1px solid ;
        color: var(--my-color-6);
    }

    #nav li a {
        padding: 0 24px;
        display: block;
        position: relative;
    }

    #nav .fa-caret-down {
        display: contents;
    }

    .fa-caret-down:before {
        position: absolute;
        right: 24px;
        top: 16px;
    }

    #nav .subnav {
        position: relative;
        background-color: #0ca087;
    }

    #nav .subnav a{
        color: var(--my-color-5);
    }

}