@font-face {
    font-family: Poppins;
    src: url(/View/assets/fonts/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(/View/assets/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(/View/assets/fonts/Rubik-Regular.ttf);
}
@font-face {
    font-family: Roboto-Thin;
    src: url(/View/assets/fonts/Roboto-Thin.ttf);
}

:root{
    --my-color-1: #32B6A1;
    --my-color-2: #8BC43F;
    --my-color-3: #087866;
    --my-color-4: #065447;
    --my-color-5: #F5F5F5;
    --my-color-6: #0A2722;
    --green: #78c350;
    --red: #DC3545;
    --yellow: #FFC107;
    --purple: #8892d6;
    --green: #78c350;
    --blue: #348cd4;
}
* {
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto',sans-serif;
    background-color: white;
}

span {
    color: red;
}

button {
    border: 0;
    padding: 8px 10px ;
    border-radius: 5px;
    font-family: 'Roboto',sans-serif;
    background-color: white;
    transition: opacity 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
    border-color: 2px solid var(--my-color-1);
}

hr {
    border: none;
    height: 1px;
    color: #ccc;
    background-color: #ccc;
    margin: 20px 20px 10px 20px;
}

.container {
    position: relative;

}

ul.breadcrumb {
    padding: 16px 16px;
    list-style: none;
    background-color: var(--my-color-1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}

ul.breadcrumb li + li:before {
    padding: 8px;
    color: var(--my-color-5);
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: var(--my-color-5);
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: var(--my-color-4);
    text-decoration: underline;
}

.imgDiv {
    position: relative;
}

.imgDiv .cover-image {
    text-align: center;
}

.imgDiv .cover-image img {
    width: 90%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#preview {
    object-fit: cover;
}

.imgDiv .profile {
    width: 90%;
    position: relative;
    text-align: center;
}

.imgDiv .profile img {
    border-radius: 50%;
    border: 4px solid white;
    position: absolute;
    margin-top: -120px;
    margin-left: -2%;
    width: 10rem;
}

@media (max-width:740px) {
    ul.breadcrumb {
        position: relative;
    }
    .imgDiv .profile {
        width: 90%;
    }
    .imgDiv .profile img {
        width: 8rem;
        margin-top: -72px;
        margin-left: -50px;
    }
}

.info {
    width: 90%;
    margin: 80px 5%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: var(--my-color-5) 1px solid;
    border-left: solid 8px var(--my-color-1);
    position: relative;
}

.info .header-info {
    margin: 2%;
}

.info .infoDiv {
    display: inline-block;
    padding: 1% 2%;
    width: 44%;
}

.info .infoDiv input[type="email"],
.info .infoDiv input[type="tel"],
.info .infoDiv input[type="text"],
.info .infoDiv input[type="date"],
.info .infoDiv input[type="number"],
.info .infoDiv select{
   width: 98%;
   padding: 8px;
   border: 1px solid rgb(224, 223, 223);
   margin-top: 10px;
   border-radius: 4px;
   font-size: 16px;
   font-family: 'Roboto', sans-serif;
}

.info .infoDiv select {
    width: 102%;
}

.info .radioInput {
    border: 1px solid rgb(224, 223, 223);
    width: 98%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 4px;
}

.info .gender-sub,
.info .state-sub {
    width: 46%;
    display: inline-block;
    padding-left: 4px;
}
.info .gender-sub:first-child,
.info .state-sub:first-child {
    border-right: 1px solid rgb(224, 223, 223);
}

.info .infoDiv input[type="radio"] {
    display: inline-block;
}

.info .infoDiv label {
    display: inline-block;
    font-size: 16px;
}

::placeholder,
.info .infoDiv input[type="date"] {
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

.custom-file-input {
    display: inline-block;
    padding: 12px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;  
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.custom-file-input:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

#file-input {
    display: none;
}

.footer-info {
    height: 60px;
}

.info button[type="submit"]:hover {
    background-color: #065447;
}

.info button[type="submit"] {
    background-color: var(--my-color-1);
    color: var(--my-color-5);
    font-weight: 500;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
