@font-face {
    font-family: Poppins;
    src: url(/View/assets/fonts/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(/View/assets/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(/View/assets/fonts/Rubik-Regular.ttf);
}
@font-face {
    font-family: Roboto-Thin;
    src: url(/View/assets/fonts/Roboto-Thin.ttf);
}

:root{
    --my-color-1: #32B6A1;
    --my-color-2: #8BC43F;
    --my-color-3: #087866;
    --my-color-4: #065447;
    --my-color-5: #F5F5F5;
    --my-color-6: #0A2722;
    --green: #78c350;
    --red: #DC3545;
    --yellow: #FFC107;
    --purple: #8892d6;
    --green: #78c350;
    --blue: #348cd4;
}
* {
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto',sans-serif;
    background-color: white;
}

.container {
    padding: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%); */
}

.card {
    background-color: #fff;
    background-clip: border-box;
    border: .0625rem solid rgba(231,234,243,0.7);
    box-shadow: 0 6px 12px rgba(140,152,164,0.075);
    border-left: 5px solid var(--blue);
    width: 500px;
    max-width: calc(100% - 16px);
    min-height: 550px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.card-header {
    padding: 20px 20px 0 20px;
    font-size: 12px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    color: var(--my-color-6);
}
.form-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    padding: 8px 0;
}
  
.form-group label {
    text-align: left;
    margin-right: 10px;
    width: 25%;
}
  
.form-group input[type="text"],
.form-group input[type="email"],
.form-group select,
.form-group  .state{
    flex: 1;
    margin-left: 10px;
    padding: 5px;
    box-sizing: border-box;
    padding: 8px;
}

hr {
    border: none;
    height: 1px;
    color: #ccc;
    background-color: #ccc;
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.card-body label {
    font-size: 16px;
}

.card-body input,
.card-body select {
    font-size: 16px;
    color: #6d6c6c;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Roboto',sans-serif;
}

.state p {
    display: inline-block;
}

.card-footer {
 position: absolute;
 right: 20px;
}

.card-footer button {
    padding: 10px;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.card-footer button[type="button"]:hover {
    background-color: #be303e;
}

.card-footer button[type="button"] {
    background-color: var(--red);
}

.card-footer button[type="submit"]:hover {
    background-color: #2f70a5;
}

.card-footer button[type="submit"] {
    background-color: var(--blue);
}
