@font-face {
    font-family: Poppins;
    src: url(/View/assets/fonts/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(/View/assets/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(/View/assets/fonts/Rubik-Regular.ttf);
}
@font-face {
    font-family: Roboto-Thin;
    src: url(/View/assets/fonts/Roboto-Thin.ttf);
}

:root{
    --my-color-1: #32B6A1;
    --my-color-2: #8BC43F;
    --my-color-3: #087866;
    --my-color-4: #065447;
    --my-color-5: #F5F5F5;
    --my-color-6: #0A2722;
    --green: #78c350;
    --red: #DC3545;
    --yellow: #FFC107;
    --purple: #8892d6;
    --green: #78c350;
    --blue: #348cd4;
}
* {
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto',sans-serif;
    background-color: white;
}

button {
    border: 0;
    padding: 8px 10px ;
    border-radius: 5px;
    font-family: 'Roboto',sans-serif;
    background-color: white;
    transition: opacity 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
    border-color: 2px solid var(--my-color-1);
}

.container{
    font-size: 14px;
    min-width: 1024px;
    position: relative;
}

.container .header-body{
    padding: 12px;
}

.container .header-body h1 {
    color: var(--my-color-4);
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

/* Tìm kiếm */

.search-form {
    width: 86%;
    display: inline-block;
    margin-left: 22px;
}

.search-form input,
.search-form select {
    padding: 10px;
    width: 20%;
    border-radius: 6px;
    border: solid 1px var(--my-color-1);

}

.search-form button:hover {
    background-color: #096b5b;
}

.search-form button {
    width: 10%;
    padding: 10px 2px;
    margin-left: 8px;
    border: none;
    border-radius: 6px;
    background-color: var(--my-color-1);
    color: var(--my-color-5);
}

/* Thêm */

.insert {
    width: 10%;
    display: inline-block;
}

.insert button:hover {
    background-color: #3e8e41;
}

.insert button {
    border: none;
    border-radius: 6px;
    padding: 10px 6px;
    background-color: var(--green);
    color: var(--my-color-5);
}

/* Bảng */

.table {
    margin: 32px 8px;
}

table {
    border: 1px solid var(--my-color-1);
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    
    font-size: 14px;
    
}

th, td {
    text-align: center;
    padding: 10px;
}

th:hover {
	cursor: pointer;
}

th {
    padding: 18px;
    background-color: white;
    color: var(--my-color-6);
    font-weight: 600;
}

th:first-child, td:first-child {
    text-align: left;
}

tr:nth-child(odd) {
    background-color: var(--my-color-5);
}

.table .edit {
    background-color: var(--yellow);
    margin-bottom: 2px;
}

table .edit:hover { 
    background-color: #e4ac04; 
}

table .delete {
    background-color: var(--red);
    color: var(--my-color-5);
    margin-bottom: 2px;
}

table .delete:hover {
    background-color: #c22d3c;
}

#pagination {
    margin-top: 10px;
    right: 10px;
    display: block;
    text-align: center;
}

#pagination button {
    background-color: var(--my-color-2);
    color: var(--my-color-5);
    font-weight: 500;  
    margin-bottom: 20px;
}

#pagination button:hover {
    background-color: #3e8e41;
}

/* modal  */
.modal {
    display: none; 
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 40px;
}

  
.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
    border-radius: 12px;
    border-left: 8px solid var(--my-color-1);
}

.modal-content .header {
    font-size: 12px;
    padding: 20px 14px 8px  30px;
    color: var(--my-color-6);
}

.modal-content .cancelbtn:hover {
    color: var(--my-color-1);
    cursor: pointer;
}


.modal-content .cancelbtn {
    position: absolute;
    right: 4%;
    top: 2%;
    font-size: 20px;
}

.modal hr {
    border: none;
    height: 1px;
    color: #ccc;
    background-color: #ccc;
    margin: 20px 20px 10px 20px;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.modal .body {
    padding-left: 18px;
}


.modal form label {
    font-size: 16px;
    font-weight: 600;
    color: var(--my-color-6);
}

.modal input,
.modal select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--my-color-1);
    font-size: 14px;
    margin: 6px 0 16px 0;
}

.modal-name input,
.modal-email input {
    width: calc(100% - 40px);
}
.modal-role select {
    width: calc(100% - 20px);
}

.modal-username {
    width: 48%;
    display: inline-block;
    margin-right: 10px;
}
.modal-password {
    display: inline-block;
    width: 48%;
}

.modal-username input,
.modal-password input
 {
    width: calc(100% - 30px);
    
}

.modal .footer {
    position: relative;
    padding: 0 20px 24px 20px;
}

.modal button {
    color: var(--my-color-5);
    font-weight: 500;
    width: 100%;
    margin-bottom: 20px;
    background-color: var(--my-color-1);
    padding: 12px 0;
}

.modal .modal-state label  {
    display: inline-block;
}

.modal .modal-state .uState {
    display: inline-block;
    padding-left: 14px ;
}

.modal-state .uState p {
    display: inline-block;
}

span {
    color: red !important;
}