<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="tab">
        <button class="tablinks" onclick="openPage('page1')">Page 1</button>
        <button class="tablinks" onclick="openPage('page2')">Page 2</button>
        <button class="tablinks" onclick="openPage('page3')">Page 3</button>
        </div>

        <div id="page1" class="tabcontent">
        <h3>Page 1</h3>
        <p>This is the content of page 1.</p>
        </div>

        <div id="page2" class="tabcontent">
        <h3>Page 2</h3>
        <p>This is the content of page 2.</p>
        </div>

        <div id="page3" class="tabcontent">
        <h3>Page 3</h3>
        <p>This is the content of page 3.</p>
        </div>
</body>

<script>
function openPage(pageName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(pageName).style.display = "block";
  event.currentTarget.className += " active";
}
</script>

</html>





