<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./assets/css/login.css">
    <link rel="stylesheet" href="./assets/fonts/fontawesome-free-6.3.0-web/css/all.min.css">
</head>

<body>
    <div id="login-box">
        <!-- left -->
        <div class="left">
            <div class="brand">
                <img src="./assets/img/logo/logo_happy_house.png" alt="Happy House" class="logo">
                <div class="name">Happy House</div>
            </div>
            <hr>
            <div class="slogan">
                "Bớt đi một đứa trẻ đau khổ <br> là thêm một người lớn hạnh phúc."
            </div>
        </div>
        <!-- right -->
        <div class="right">
            <h1>Sign up</h1>
            <input type="text" name="username" placeholder="Username" />
            <input type="text" name="email" placeholder="E-mail" />
            <input type="password" name="password" placeholder="Password" />
            <input type="password" name="password2" placeholder="Retype password" />
            <input type="submit" name="signup_submit" value="Login" />
        </div>
    </div>
</body>

</html>